<ion-content fullscreen class="background">


  <ion-card class="cardcontenido">

    <div class="container"> 
      <ion-card-header >
      
      <ion-img alt="DUOC UC" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/711px-Logo_DuocUC.svg.png"/>
      <ion-card-title class="ion-text-center label">RECUPERAR CONTRASEÑA</ion-card-title>
      </ion-card-header>

    </div> 
  </ion-card>






  <ion-card class="cardcontenido">
    <div id="container">

      <ion-card-header class="center-content">
        <ion-card-title size="large">Correcto</ion-card-title>
        <ion-card-content>
          <img alt="Silhouette of mountains" width="150px" height="150px"
            src="https://cdn.discordapp.com/attachments/1156738073359568947/1181698003996782662/Screenshot_6.png?ex=65820107&is=656f8c07&hm=6d968d5275d3d909a486842fd1d7ec1c4543bb63702a8c6a16ad37c543d1af9c&" />
            <h1>
              Tu contraseña es: {{ password }}
            </h1>
        </ion-card-content>
      </ion-card-header>
    </div>

  </ion-card>








  
  <ion-card class="cardcontenido">
    <div id="container">

      <ion-card-header>



  
  <ion-button expand="full" (click)="volverAlInicio()">Volver al inicio</ion-button>

</ion-card-header>

</div>

</ion-card>







</ion-content>


<ion-footer>
  <div class="container">

    <h6 class="ion-text-center">Duoc 2023 </h6>

  </div>
</ion-footer>