.boton-amarillo {
  --ion-background-color: #ffea00;
  --ion-text-color: #000000;
  /* Color del texto (opcional, ajusta según sea necesario) */
}
.contenedor-principal {
  background-color: #e5e5e5; /* Cambia este color según tus preferencias */
}
