<ion-content fullscreen class="background">

  <ion-card class="cardcontenido">

    <div class="container"> 
      <ion-card-header >
      <ion-card-title class="ion-text-center label">RECUPERAR CONTRASEÑA</ion-card-title>
      <ion-img alt="DUOC UC" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/711px-Logo_DuocUC.svg.png"/>
      </ion-card-header>

    </div> 
</ion-card>

  <br>

  <ion-card color="light" class="cardcontenido">
    <br>
    <ion-card-title class="ion-text-center label">
      <br><br>
      Paso 2: 
      <br>
      Pregunta Secreta
      <br>
      {{ preguntaSecreta }}
    </ion-card-title>
    <ion-card>
      <ion-item>
        <ion-label position="floating">Respuesta</ion-label>
        <ion-input [(ngModel)]="respuestaSecreta" placeholder="Ingrese su respuesta secreta"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card> 
      <ion-button expand="full" (click)="comprobarRespuesta(respuestaSecreta)">Verificar Respuesta</ion-button>
    </ion-card> 
    <ion-card> 
      <ion-button expand="full" (click)="volverIngreso()">Regresar</ion-button>
    </ion-card> 
   
   
   </ion-card>

  </ion-content>

  
   <ion-footer>
    <div class="container">
  
      <h6 class="ion-text-center">Duoc 2023 </h6>
  
    </div>
  </ion-footer>
  
  
 
